@use "sass:color";

body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

@mixin button($type) {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(0deg, color.scale($color-primary, $alpha: -10%) 0%, color.scale($color-secondary, $alpha: -10%) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$appPadding: 1rem;

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.header {
  padding: 1rem $appPadding;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;

  &__logo {
    font-family: "Shrikhand", "cursive";
    margin: 0;
    text-align: center;
  }
}

.footer {
  background-color: #353535;
  
  .container {
    display: flex;
    flex-direction: column;
    padding: $appPadding;
  }
  
  &__logo {
    color: white;
    font-family: "Shrikhand", "cursive";
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: $appPadding;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__listElt {
    margin: 0.5rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    width: 1.2rem;
    margin-right: 0.5rem;
  }
}