
body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

@mixin button($type) {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background: $color-primary;
  background: linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
  cursor: pointer;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$appPadding: 1rem;

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.header {
  padding: 1rem $appPadding;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;

  &__logo {
    font-family: "Shrikhand", "cursive";
    margin: 0;
    text-align: center;
  }
}

.footer {
  background-color: #353535;
  
  .container {
    display: flex;
    flex-direction: column;
    padding: $appPadding;
  }
  
  &__logo {
    color: white;
    font-family: "Shrikhand", "cursive";
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: $appPadding;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__listElt {
    margin: 0.5rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    width: 1.2rem;
    margin-right: 0.5rem;
  }
}