.header {
  &--withBackArrow {
    position: relative;
  }

  &__arrow {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display:flex;
    align-items:center;
    justify-content:center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: black;
  }
}

.heroImg {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;

  &__header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-family: "Shrikhand", "cursive";
  }

  &__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    position: relative;
    background-color: black;
    
    &:hover::before {
      opacity: 1;
    }
    
    &::before {
      opacity: 0;
      transition: 0.5s;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background:linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
    }
  }

  &__like {
    transition-duration: .25s;
    background-color: #f6f6f6;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    mix-blend-mode: lighten;
  }

  &__btn:hover {
    .menu__like {
      &--noBg {
        opacity: 0;
      }
    }
  }
}

.submenus {
  display: grid;

  @media (min-width:64rem) {
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
  }
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;

  &__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: normal;

    &::after {
      content: "";
      width: 3rem;
      height: 0.25rem;
      background-color: $color-tertiary;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

.menuItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear .6s;
  animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;

  &__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

  &__title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }

  &__confirmation {
    background-color: $color-tertiary;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display:flex;
    align-items:center;
    justify-content:center;
    transition-duration: 0.5s;
  }

  &:hover &__confirmation {
    margin-right: -1rem;
  }

  &__wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;

  }

  &:hover &__wrapIcon {
    transform: rotate(0);
  }

  &__icon {
    color: $color-tertiary;
  }
}

@for $i from 0 to 9 {
  .delay-#{$i} {
    animation-delay:  #{$i/10}s;
  }
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

.commandBtn {
  @include button(primary);
  cursor: pointer;
}